body {
  padding-top: 100px;
}

.thumbnail {
    margin: 10px 10px 10px 10px;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: 0.5s ease-in-out; /* Safari */
    transition: 0.5s ease-in-out;
    }

.thumbnail:hover {
	cursor: pointer;
	-webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    box-shadow: 10px 10px 5px #888888;
    -webkit-transition: 0.5s ease-in-out; /* Safari */
    transition: 0.5s ease-in-out;
    z-index: 1;
    }

