{% include 'html_template/user_template/header.html' %}
{% verbatim %}
<div class="container-fluid bg-info">
    <div class="modal-dialog">
      <div class="modal-content" ng-repeat="que in questionList track by $index" ng-show="$index == indexToShow">
         <div class="modal-header">
            <h3 ><span class="label label-warning" id="qid">{{$index+1}}</span> {{que.question}}</h3>
        </div>
        <div class="modal-body">
            <div class="col-xs-3 col-xs-offset-5">
               <div id="loadbar" style="display: none;">
                  <div class="blockG" id="rotateG_01"></div>
                  <div class="blockG" id="rotateG_02"></div>
                  <div class="blockG" id="rotateG_03"></div>
                  <div class="blockG" id="rotateG_04"></div>
                  <div class="blockG" id="rotateG_05"></div>
                  <div class="blockG" id="rotateG_06"></div>
                  <div class="blockG" id="rotateG_07"></div>
                  <div class="blockG" id="rotateG_08"></div>
              </div>
          </div>

          <div class="quiz" id="quiz" data-toggle="buttons">
           <label class="element-animation1 btn btn-lg btn-primary btn-block" ng-repeat="opt in que.option"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="1">{{$index+1}} {{opt.option}}</label>
       </div>
   </div>
   <label class="element-animation4 btn btn-lg btn-primary btn-block" ng-click="progressBar()">Next</label>
   <div class="modal-footer text-muted">
    <span id="answer"></span>
</div>
</div>
</div>
</div>
{% endverbatim %}