{% include 'html_template/user_template/header.html' %}
{% verbatim %}
<div class="container-fluid bg-info">
  <div class="row">
    <div class="col-md-10">


      <div class="modal-dialog">
        <div class="modal-content" ng-repeat="que in questionList track by $index" ng-show="$index == indexToShow">
          <div class="modal-header">
            <h3 ><span class="label label-warning" id="qid">{{$index+1}}</span> {{que.question}}</h3>{{indexToShow}}
          </div>
          <div class="modal-body">
            <div class="quiz" id="quiz" data-toggle="buttons">
              <label class="element-animation1 btn btn-lg btn-primary btn-block" ng-repeat="opt in que.option" ng-click="checkAnswer(opt)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio">{{$index+1}} {{opt.option}}</label>
            </div>
          </div>
        </div>
        <div ng-hide="isRight==null" style="position:absolute;">
          <div style="margin-top:15px;" ng-if="isRight">
            <img src="/static/images/icon_correct.svg" style="width:30px;">
            <label>Correct Answer</label>
          </div>
          <div style="margin-top:15px;" ng-if="!isRight">
            <img src="/static/images/icon_incorrect.svg" style="width:30px;">
            <label>Incorrect Answer</label>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-2">
    <label class="btn btn-lg" style="float:right; padding:20px; margin-bottom:20px;" ng-click="changeToNext()"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> </label>
    </div>

  </div>
</div>
{% endverbatim %}